<mat-card>
  <div class="row">
    <span>Inventario de productos</span>
    <div class="col-md-12">
      <div class="header">
        <div class="row">
          <div class="col-md-2">
            Imagen
          </div>
          <div class="col-md-2">
            nombre
          </div>
          <div class="col-md-2">
            Costo
          </div>
          <div class="col-md-2">
            Otro 1
          </div>
          <div class="col-md-2">
            Otro 2
          </div>
          <div class="col-md-2">
            Otro 3
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>