<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/images/logo.png" style="    margin-top: 50px;
          margin-right: 40px;
          position: absolute;
          right: 20px;" width="600" height="450" alt="">
        </div>
        <div class="col-md-6" align="center">
          <div class="social-card">
            <button class="dulci-button">Login</button>
            <button class="dulci-button">Registrarse</button>
            <hr>
            <div class="Login">
              <span style="font-size: 26px;">Bienvenido a Dulciski</span>
              <div class="row">
                <div class="col-md-12" style="margin-top: 20px;">
                  <input type="text" style="width: 70%; padding-left: 100px;" class="form-control" placeholder="Introduzca su usuario">
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                  <input type="password" style="width: 70%; padding-left: 100px;" class="form-control" placeholder="Introduzca su contraseña">
                </div>
                <br>
                <br>
                <div class="col-md-12" aling="center">
                  <button class="dulci-button">Ingresar</button>
                </div>
                <br>
                <div class="images">
                  <a style="position: absolute;bottom: -55px;left: 125px;" href="https://play.google.com/store/apps/details?id=net.socialgest.app"
                    target="_blank">
                    <img src="../../assets/images/apple-store-badge.png" height="50px" alt="" style="margin-right:30px; display:inline-block">
                  </a>

                  <a style="position: absolute;bottom: -55px;left: 320px;" href="https://itunes.apple.com/us/app/socialgest/id1207044301?mt=8"
                    target="_blank">
                    <img src="../../assets/images/google-play-badge.png" height="50px" alt="" class="" style=" display:inline-block">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>