<mat-card>
    <mat-card-title>Bievenido!</mat-card-title>
    <mat-card-subtitle>Por favor ingrese sus datos de ingreso</mat-card-subtitle>
    <mat-card-content>
        <mat-label></mat-label>
        <mat-form-field floatLabel="true" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput>
        </mat-form-field>
        <mat-form-field floatLabel="true" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="accent">Entrar</button>
        </div><br><br>
        <a href="">No tengo cuenta</a>
    </mat-card-content>
</mat-card>